@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Feyfey's Bakery</h1>
    <img class="big-img" src="~/images/feyfey.png"/>
    <p>Most delicious stuff in here!!!</p>
</div>
